*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #ddd;
}
.navbarContainer{
  height: 80px;
  background-color: #9c9c9c;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar{
 width: 75%;
 display: flex;
 justify-content: space-between;

}
.navbarBtn {
  text-decoration: none;
  color: #323232;
  font-weight: bold;
  font-size: 19px;
}
.navbarBtn:hover{
  color: #1e1a85;
  border-bottom: 2px solid #1e1a85;
  cursor: pointer;
}
.title{
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  margin: 40px auto;
  color: #343434;
}
.mainContent{
  width: 80%;
  margin: 0 auto;
 
}
p{
 font-size: 22px;
 color: #323232;
 margin-bottom: 30px;
 text-align: center;
}
.imgContainer{
  display: flex;
  justify-content: center;
}
img{
  height: 330px;
}
#form{
  width: 400px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

label {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
  cursor: pointer;
}

input{
  padding: 10px;
  font-size: 16px;
  margin-bottom: 20px;
  border-radius: 5px;
}
textarea{
  padding: 10px;
  font-size: 18px;
  margin-bottom: 15px;
  border-radius: 5px;
}
button{
  padding: 10px 20px;
  font-weight: 500;
  font-size: 17px;
  border-radius: 10px;
  background-color: #9c9c9c;
}
button:hover{
  color: #fff;
  background-color: #323232;
  cursor: pointer;
}